{:duct.profile/base
 {:duct.core/project-ns  cljails

  ;; Routing
  :duct.router/ataraxy   {:routes {:get [:cljails.handler/index]}}
  :cljails.handler/index {}

  ;; Model
  :cljails.model/schema  {}
  :cljails.model/db      {:uri    #duct/env ["DATAHIKE_CONNECTION_URI" String]
                          :schema #ig/ref :cljails.model/schema}}

 ;; Env
 :duct.profile/dev    #duct/include "dev"
 :duct.profile/local  #duct/include "local"
 :duct.profile/prod   {}

 ;; Modules
 :duct.module/logging {}
 :duct.module.web/api {}}
